@inject EHRApplication.Services.IListService ListService

@model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Create New Problem";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
    var problem = Model.PatientProblemsDetails;
}

<section class="my-5 w-75" data-bs-theme="auto">
    @if (User.IsInRole("Admin"))
    {        
        <div class="card-header" data-bs-theme="auto">
            <h3 class="my-3">Create Problem</h3>
        </div>

        <div class="card-body" data-bs-theme="auto">
            <form method="post" id="problemForm" enctype="multipart/form-data">

                <input asp-for="@problem.MHN" value="@mhn" hidden />

            <div class="form-group">
                <label for="priority">Priority Level:</label>
                <select asp-for="@problem.priority" class="form-control" data-bs-theme="auto">
                    <option value="">-- Select Priority Level --</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="@problem.priority" id="priorityError" class="validation-msg"></span>
            </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" asp-for="@problem.description" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('description', 100, 'description')" />
                    <span asp-validation-for="@problem.description" id="descriptionError" class="validation-msg"></span>
                </div>
            
                <div class="form-group">
                    <label for="ICD_10">ICD-10:</label>
                    <input type="text" id="ICD_10" asp-for="@problem.ICD_10" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('ICD_10', 'code for the ICD_10')" />
                    <span asp-validation-for="@problem.ICD_10" id="ICD_10Error" class="validation-msg"></span>
                </div>

            <div class="form-group">
                <label for="immediacy">Immediacy:</label>
                <select asp-for="@problem.immediacy" class="form-control" data-bs-theme="auto">
                    <option value="">-- Select Immediacy --</option>
                    <option value="Routine">Routine</option>
                    <option value="Urgent">Urgent</option>
                </select>
                <span asp-validation-for="@problem.immediacy" id="immediacyError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="createdBy">Created By:</label>
                <select class="form-control" asp-for="@problem.createdBy" data-bs-theme="auto">
                    <option value="0">-- Select A Provider --</option>
                    @foreach (var provider in ListService.GetProviders())
                    {
                        <option value="@provider.providerId.ToString()">
                            @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                        </option>
                    }
                </select>
                <span asp-validation-for="PatientProblemsDetails.createdBy" id="PrimaryPhysicianError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="visitsId">Visit:</label>
                <select class="form-control" asp-for="@problem.visitsId" data-bs-theme="auto">
                    <option value="0">-- Select Visit --</option>
                    @foreach (var visit in ListService.GetPatientVisitsByMHN(mhn))
                    {
                        <option value="@visit.visitsId.ToString()">
                            @visit.date @visit.time
                        </option>
                    }
                </select>
                <span asp-validation-for="PatientProblemsDetails.visitsId" id="vitalError" class="validation-msg"></span>
            </div>

                <div class="form-group">
                    <label for="active">Active?</label>
                    <div class="col-sm-6 ms-4">
                        <div class="race-column">
                            <input type="radio" id="Yes" asp-for="@problem.active" value="True" required/>
                            <label for="Yes" style="font-weight: normal;">Yes</label><br />
                            <input type="radio" id="No" asp-for="@problem.active" value="False" />
                            <label for="No" style="font-weight: normal;">No</label><br />
                        </div>
                    </div>
                    <span asp-validation-for="@problem.active" id="admittedError" class="validation-msg"></span>
                </div>

                <div class="mt-3 d-flex justify-content-center">
                    <a type="button" class="btn btn-secondary me-2" value="Cancel" asp-controller="Problems" asp-action="Index" asp-route-mhn="@mhn">Cancel</a>
                    <input type="submit" class="btn blue-button" data-bs-theme="auto" />
                </div>
            </form>
        </div>
    }
    else
    {
        //This makes the page redirect to the previous page.
        <script>
            window.history.back();
        </script>

        //This is a fail safe if the javascript is turned off it will still show an error.
        <div class="card-body" data-bs-theme="auto">
            Admin permission required.<br />
            <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
            <a type="button" class="btn blue-button" asp-area="" asp-controller="Login_Register" asp-action="Login">Login</a>
        </div>
    }
</section>