@inject EHRApplication.Services.IListService ListService

@model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Update Patient Medication";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
    var patientMed = Model.PatientMedication;
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Edit Patient Medication</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="patientMedForm" enctype="multipart/form-data">

            <input asp-for="PatientMedication.MHN" name="MHN" hidden />
            <input asp-for="@patientMed.patientMedId" hidden />

            <div class="form-group">
                <label for="medId">Medication:</label>
                <select id="medId" name="medId" class="form-control" asp-for="PatientMedication.medId" data-bs-theme="auto">
                    <option value="0">-- Select Medication --</option>
                    @foreach (var med in ListService.GetMedicationProfiles())
                    {
                        <option value="@med.medId">@med.medName</option>
                    }
                </select>
                <span asp-validation-for="PatientMedication.medId" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="prescriptionInstructions">Instructions:</label>
                <input name="prescriptionInstructions" type="text" id="prescriptionInstructions" asp-for="PatientMedication.prescriptionInstructions" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('instructions', 100, 'instructions')" />
                <span asp-validation-for="PatientMedication.prescriptionInstructions" id="instructionsError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="dosage">Dosage:</label>
                <input name="dosage" type="text" id="dosage" asp-for="PatientMedication.dosage" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('dosage', 'dosage')" />
                <span asp-validation-for="PatientMedication.dosage" id="dosageError" class="validation-msg"></span>
            </div>

            <!-- Route -->
            <div class="form-group">
                <label for="route">Route:</label>
                <select asp-for="PatientMedication.route" id="route" name="route" class="form-control" data-bs-theme="auto">
                    <option value=""></option>
                    <option value="Buccal">Buccal</option>
                    <option value="Inhalation">Inhalation</option>
                    <option value="Intramuscular">Intramuscular</option>
                    <option value="Intravenous">Intravenous</option>
                    <option value="Nasal">Nasal</option>
                    <option value="Ophthalmic">Ophthalmic</option>
                    <option value="Oral">Oral</option>
                    <option value="Otic">Otic</option>
                    <option value="Rectal">Rectal</option>
                    <option value="Subcutaneous">Subcutaneous</option>
                    <option value="Sublingual">Sublingual</option>
                    <option value="Topical">Topical</option>
                    <option value="Transdermal">Transdermal</option>
                    <option value="Vaginal">Vaginal</option>

                </select>
                <span asp-validation-for="PatientMedication.route" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <input name="category" type="text" id="category" asp-for="PatientMedication.category" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('category', 'category')" />
                <span asp-validation-for="PatientMedication.category" id="routeError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="prescribedBy">Prescribed By:</label>
                <select name="prescribedBy" class="form-control" asp-for="PatientMedication.prescribedBy" data-bs-theme="auto">
                    <option value="0">-- Select Provider --</option>
                    @foreach (var provider in ListService.GetProviders())
                    {
                        <option value="@provider.providerId.ToString()">
                            @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                        </option>
                    }
                </select>
                <span asp-validation-for="PatientMedication.prescribedBy" id="PrimaryPhysicianError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="datePrescribed">Start Date:</label>
                <input name="datePrescribed" asp-for="PatientMedication.datePrescribed" type="date" id="date" class="form-control" data-bs-theme="auto" required />
                <span asp-validation-for="PatientMedication.datePrescribed" id="startdateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input name="endDate" asp-for="PatientMedication.endDate" type="date" id="date" class="form-control" data-bs-theme="auto" required />
                <span asp-validation-for="PatientMedication.endDate" id="enddateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="activeStatus">Active?</label>
                <div class="col-sm-6 ms-4">
                    <div class="race-column">
                        <input name="activeStatus" type="radio" id="Yes" asp-for="PatientMedication.activeStatus" value="Active" required />
                        <label for="Yes" style="font-weight: normal;">Yes</label><br />
                        <input name="activeStatus" type="radio" id="No" asp-for="PatientMedication.activeStatus" value="Inactive" />
                        <label for="No" style="font-weight: normal;">No</label><br />
                    </div>
                </div>
                <span asp-validation-for="PatientMedication.activeStatus" class="validation-msg"></span>
            </div>

            <!-- Submit Button -->
            <div class="mt-3 d-flex justify-content-center">
                <a type="button" class="btn btn-secondary me-2" onclick="window.history.back()">Cancel</a>
                <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
            </div>

            <!-- confirmation modal-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save patient medication information?
                        </div>
                        <div class="modal-footer">
                            <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>