@inject EHRApplication.Services.IListService ListService

@model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Create New Patient Med";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
    var patientMed = Model.PatientMedicationDetails;
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Create Patient Med</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="patientMedForm" enctype="multipart/form-data">

            <input asp-for="@patientMed.MHN" hidden />
            <input asp-for="@patientMed.patientMedId" hidden />

            <div class="form-group">
                <label for="medId">Medication:</label>
                <select class="form-control" asp-for="@patientMed.medId" data-bs-theme="auto">
                    <option value="-1"></option>
                    @foreach (var med in ListService.GetMedicationProfiles())
                    {
                        <option value="@med.medId.ToString()">
                            @med.medName
                        </option>
                    }
                </select>
                <span asp-validation-for="@patientMed.medId" id="vitalError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <input type="text" id="instructions" asp-for="@patientMed.prescriptionInstructions" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('instructions', 100, 'instructions')" />
                <span asp-validation-for="@patientMed.prescriptionInstructions" id="instructionsError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="dosage">Dosage:</label>
                <input type="text" id="dosage" asp-for="@patientMed.dosage" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('dosage', 'dosage')" />
                <span asp-validation-for="@patientMed.dosage" id="ICD_10Error" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="prescribedBy">Prescribed By:</label>
                <select class="form-control" asp-for="@patientMed.prescribedBy" data-bs-theme="auto">
                    <option value="-1"></option>
                    @foreach (var provider in ListService.GetProviders())
                    {
                        <option value="@provider.providerId.ToString()">
                            @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                        </option>
                    }
                </select>
                <span asp-validation-for="@patientMed.prescribedBy" id="PrimaryPhysicianError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="datePrescribed">Start Date:</label>
                <input asp-for="@patientMed.datePrescribed" type="date" id="date" class="form-control" onblur="validateDatePicker('startdate', 'start date')" data-bs-theme="auto" required />
                <span asp-validation-for="@patientMed.datePrescribed" id="startdateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input asp-for="@patientMed.endDate" type="date" id="date" class="form-control" onblur="validateDatePicker('enddate', 'end date')" data-bs-theme="auto" required />
                <span asp-validation-for="@patientMed.endDate" id="enddateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="active">Active?</label>
                <div class="col-sm-6 ms-4">
                    <div class="race-column">
                        <input type="radio" id="Yes" asp-for="@patientMed.activeStatus" value="Active" />
                        <label for="Yes" style="font-weight: normal;">Yes</label><br />
                        <input type="radio" id="No" asp-for="@patientMed.activeStatus" value="InActive" />
                        <label for="No" style="font-weight: normal;">No</label><br />
                    </div>
                </div>
                <span asp-validation-for="@patientMed.activeStatus" id="admittedError" class="validation-msg"></span>
            </div>

            <!-- Submit Button -->
            <div class="mt-3 d-flex justify-content-center">
                <a type="button" class="btn btn-secondary me-2" onclick="window.history.back()">Cancel</a>
                <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
            </div>

            <!-- confirmation modal-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save patient information?
                        </div>
                        <div class="modal-footer">
                            <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>