@{
    ViewData["Title"] = "myEHR | Medication History";
    @model EHRApplication.ViewModels.PortalViewModel
    int mhn = ViewBag.MHN;
}

<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">Medication Administration History</div>
            <div>
                <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Medications" asp-action="CreateMedAdministrationHistory" asp-route-mhn="@mhn">
                    <i class="fa-solid fa-plus me-2"></i>
                    <span>Add</span>
                </a>
            </div>
        </div>
        <div class="card-body" data-bs-theme="auto">
            @if (Model.MedAdministrationHistories.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Medication:</th>
                            <th scope="col">Date Given:</th>
                            <th scope="col">Time Given:</th>
                            <th scope="col">Category:</th>
                            <th scope="col">Status:</th>
                            <th scope="col">Frequency:</th>
                            <th scope="col">Administered By:</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var meds in Model.MedAdministrationHistories)
                        {
                            <tr class="hover-highlighting">
                                <td>@meds.medProfile.medName</td>
                                <td>@meds.dateGiven.ToString("MM-dd-yyyy")</td>
                                <td>@meds.timeGiven.ToString("HH:mm")</td>
                                <td>@meds.category</td>
                                <td>@meds.status</td>
                                <td>@meds.frequency</td>
                                <td>@meds.providers.firstName @meds.providers.lastName, @meds.providers.providerId</td>
                                <td><a type="button" class="btn blue-button text-nowrap" asp-controller="Medications" asp-action="EditMedAdministrationHistory" asp-route-administrationId="@meds.administrationId"><i class="fa-solid fa-pen me-2"></i>Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No medication administration history found.</h1>
            }
        </div>
    </div>
</section>
