@{
    ViewData["Title"] = "myEHR | Medication History";
    @model EHRApplication.ViewModels.PortalViewModel
    int mhn = ViewBag.MHN;
    <script src="~/js/deleteMedAdmin.js" defer></script>
}

<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">Medication Administration History</div>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Medications" asp-action="CreateMedAdministrationHistory" asp-route-mhn="@mhn">
                        <i class="fa-solid fa-plus me-2"></i>
                        <span>Add</span>
                    </a>
                </div>
            }
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model.MedAdministrationHistories.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Medication:</th>
                            <th scope="col">Date Given:</th>
                            <th scope="col">Time Given:</th>
                            <th scope="col">Category:</th>
                            <th scope="col">Status:</th>
                            <th scope="col">Frequency:</th>
                            <th scope="col">Administered By:</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th scope="col"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var meds in Model.MedAdministrationHistories)
                        {
                            <tr id="row-@meds.administrationId" class="hover-highlighting">
                                <td>@meds.medProfile.medName</td>
                                <td>@meds.dateGiven.ToString("MM-dd-yyyy")</td>
                                <td>@meds.timeGiven.ToString("HH:mm")</td>
                                <td>@meds.category</td>
                                <td>@meds.status</td>
                                <td>@meds.frequency</td>
                                <td>@meds.providers.firstName @meds.providers.lastName, @meds.providers.providerId</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <a type="button" class="btn blue-button text-nowrap" asp-controller="Medications" asp-action="EditMedAdministrationHistory" asp-route-administrationId="@meds.administrationId"><i class="fa-solid fa-pen me-2"></i>Edit</a>
                                        <button type="submit" class="btn delete-button text-nowrap" data-med-name="@meds.medProfile.medName" data-admin-date="@meds.dateGiven" data-admin-time="@meds.timeGiven" data-admin-id="@meds.administrationId">
                                            <i class="fa-solid fa-trash me-2"></i>Delete
                                        </button>                                
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No medication administration history found.</h1>
            }
        </div>
    </div>
</section>

<!-- Delete confirmation modal-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the medication administration record for <span id="messagePlaceholder"></span>?
            </div>
            <div class="modal-footer">
                <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>