@{
    @model EHRApplication.ViewModels.PortalViewModel
    ViewData["Title"] = "myEHR | Medication Orders";
    int mhn = ViewBag.MHN;
    <script src="~/js/deleteMedOrder.js" defer></script>
}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">Medication Orders</div>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Medications" asp-action="CreateMedicationOrder" asp-route-mhn="@mhn">
                        <i class="fa-solid fa-plus me-2"></i>
                        <span>Add</span>
                    </a>
                </div>
            }
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model != null && Model.MedOrders != null && Model.MedOrders.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order Id:</th>
                            <th scope="col">Medication:</th>
                            <th scope="col">Frequency:</th>
                            <th scope="col">Status:</th>
                            <th scope="col">Date:</th>
                            <th scope="col">Time:</th>
                            <th scope="col">Provider:</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th scope="col"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var medOrder in Model.MedOrders)
                        {
                            <tr id="row-@medOrder.orderId" class="hover-highlighting">
                                <td>@medOrder.orderId</td>
                                <td>@medOrder.medProfile.medName</td>
                                <td>@medOrder.frequency</td>
                                <td>@medOrder.fulfillmentStatus</td>
                                <td>@medOrder.orderDate.ToString("MM-dd-yyyy")</td>
                                <td>@medOrder.orderTime.ToString("HH:mm")</td>
                                <td>@medOrder.providers.firstName @medOrder.providers.lastName</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <a type="button" class="btn blue-button text-nowrap" asp-controller="Medications" asp-action="EditMedicationOrder" asp-route-orderId="@medOrder.orderId"><i class="fa-solid fa-pen me-2"></i>Edit</a>
                                        <button type="submit" class="btn delete-button text-nowrap" data-med-name="@medOrder.medProfile.medName" data-order-date="@medOrder.orderDate" data-order-id="@medOrder.orderId">
                                            <i class="fa-solid fa-trash me-2"></i>Delete
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No medication orders found.</h1>
            }
        </div>
    </div>
</section>

<!-- Delete confirmation modal-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the medication order for <span id="messagePlaceholder"></span>?
            </div>
            <div class="modal-footer">
                <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>