@{
    // The list of patients being pulled in.
    @model List<PatientMedications>
}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header text-center" data-bs-theme="auto">
            All Patients
        </div>
        <div class="card-body" data-bs-theme="auto">
            @if (Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Patient:</th>
                            <th scope="col">Med Name:</th>
                            <th scope="col">Category:</th>
                            <th scope="col">Active:</th>
                            <th scope="col">Instructions:</th>
                            <th scope="col">Dosage:</th>
                            <th scope="col">Prescribed By:</th>
                            <th scope="col">Date Prescribed:</th>
                            <th scope="col">End Date:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var medication in Model)
                        {
                            <tr class="hover-highlighting">
                                <!-- Class needed for highlighting rows for ease of use. Defined in site.css -->
                                <td>@medication.MHN</td>
                                <td>@medication.medProfile.medName</td>
                                <td>@medication.category</td>
                                <td>@medication.activeStatus</td>
                                <td>@medication.prescriptionInstructions</td>
                                <td>@medication.dosage</td>
                                <td>@medication.prescribedBy</td>
                                <td>@medication.datePrescribed.ToString("MM-dd-yyyy")</td>
                                <td>@medication.endDate.ToString("MM-dd-yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No patient Medication found.</h1>
            }
        </div>
    </div>
</section>
