@{
    // The list of patients being pulled in.
    @model EHRApplication.ViewModels.PortalViewModel

}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header text-center" data-bs-theme="auto">
            Patient Lab Results
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model.LabResults.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Test Name:</th>
                            <th scope="col">Result:</th>
                            <th scope="col">Units:</th>
                            <th scope="col">Abnormal Flag:</th>
                            <th scope="col">Ordered By:</th>
                            <th scope="col">Date Ordered:</th>
                            <th scope="col">Time Ordered:</th>
                            <th scope="col"></th> <!-- Empty column for the button -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var results in Model.LabResults)
                        {
                            <tr class="hover-highlighting">
                                <td>@results.labTests.testName</td>
                                <td>@results.resultValue</td>
                                <td>@results.labTests.units</td>
                                @* shows a yellow background if the priority for that plan is high otherwise it will be a gray background. *@
                                <td style='background-color: @(results.abnormalFlag == "High" ? "yellow" : "unset"); color: @(results.abnormalFlag == "High" ? "black" : "inherit")'>
                                    @if (results.abnormalFlag == "High")
                                    {
                                        <span>
                                            <i class='fa-solid fa-triangle-exclamation me-1'></i>
                                        </span>
                                    }
                                    @results.abnormalFlag
                                </td>

                                <td>@results.providers.firstName @results.providers.lastName</td>
                                <td>@results.date.ToString("MM/dd/yyyy")</td>
                                <td>@results.time.ToString("HH:mm")</td>
                                <td><a type="button" class="btn blue-button" asp-controller="Visits" asp-action="VisitDetails" asp-route-visitId="@results.visitsId" asp-route-mhn="@results.MHN">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No Lab results found.</h1>
            }
        </div>
    </div>
</section>