@{
    ViewData["Title"] = "myEHR | All Providers";
    @model List<Providers>
    <script src="~/js/allProviders.js" defer></script>
    bool activeProviders = false;
}

<section class="my-5 w-75 m-auto">
    <div class="card shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">All Providers</div>
            @if (User.IsInRole("Admin"))
            {                
                <div>
                    <!-- Need to add controller action -->
                    <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Providers" asp-action="CreateProvider">
                        <i class="fa-solid fa-plus me-2"></i>
                        <span>Add</span>
                    </a>
                </div>
            }
        </div>
        <div class="card-body" data-bs-theme="auto">
            @if (Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Provider ID:</th>
                            <th scope="col">First Name:</th>
                            <th scope="col">Last Name:</th>
                            <th scope="col">Specialty:</th>
                            @if (User.IsInRole("Admin"))
                            {                                
                                <th scope="col">Active:</th>
                                <th scope="col"></th> <!-- Empty column for the buttons -->
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var provider in Model)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <tr class="hover-highlighting">
                                    <!-- Class needed for highlighting rows for ease of use. Defined in site.css -->
                                    <td>@provider.providerId</td>
                                    <td>@provider.firstName</td>
                                    <td>@provider.lastName</td>
                                    <td>@provider.specialty</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input active-status-checkbox" type="checkbox" id="switch@provider.providerId" data-providerId="@provider.providerId" @(provider.active ? "checked" : "")>
                                            <label class="form-check-label" for="switch@provider.providerId">@(provider.active ? "Yes" : "No")</label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="btn-group" role="group">
                                            <form method="post">
                                                <a type="button" class="btn blue-button" asp-controller="Providers" asp-action="EditProvider" asp-route-providerId="@provider.providerId"><i class="fa-solid fa-pen me-2"></i>Edit</a>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else if (provider.active == true)
                            {
                                activeProviders = true;
                                <tr class="hover-highlighting">
                                    <!-- Class needed for highlighting rows for ease of use. Defined in site.css -->
                                    <td>@provider.providerId</td>
                                    <td>@provider.firstName</td>
                                    <td>@provider.lastName</td>
                                    <td>@provider.specialty</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @if (activeProviders == false && !User.IsInRole("Admin"))
                {
                    <h1 class="text-center display-6">No active providers found.</h1>
                }
            }
            else
            {
                <h1 class="text-center display-6">No providers found.</h1>
            }
        </div>
    </div>
</section>