@inject EHRApplication.Services.IListService ListService
    @model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Create New Care Plan";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
}

<section class="my-5 w-75" data-bs-theme="auto">
    @if (User.IsInRole("Admin"))
    {
        <div class="card-header" data-bs-theme="auto">
            <h3 class="my-3">Create Care Plan</h3>
        </div>

        <div class="card-body" data-bs-theme="auto">
            <form method="post" id="vitalForm" enctype="multipart/form-data">

                <input asp-for="CarePlansDetails.MHN" value="@mhn" hidden />

                <div class="form-group">
                    <label for="priority">Priority Level:</label>

                    <select id="priority" name="priority" asp-for="CarePlansDetails.priority" class="form-control" data-bs-theme="auto">
                        <option value="">--Select--</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                
                    <span asp-validation-for="CarePlansDetails.priority" id="priorityError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" asp-for="CarePlansDetails.startDate" class="form-control" data-bs-theme="auto"  required />
                    <span asp-validation-for="CarePlansDetails.startDate" id="startDateError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" asp-for="CarePlansDetails.endDate" class="form-control" data-bs-theme="auto"  required />
                    <span asp-validation-for="CarePlansDetails.endDate" id="endDateError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" asp-for="CarePlansDetails.title" class="form-control" data-bs-theme="auto" maxlength="100" onblur="validateRequiredTextInputForTitles('title', 100, 'title')" required />
                    <span asp-validation-for="CarePlansDetails.title" id="titleError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="diagnosis">Diagnosis:</label>
                    <input type="text" id="diagnosis" name="diagnosis" asp-for="CarePlansDetails.diagnosis" class="form-control" data-bs-theme="auto" maxlength="100" onblur="validateRequiredTextInputForTitles('diagnosis', 100, 'diagnosis')" required />
                    <span asp-validation-for="CarePlansDetails.diagnosis" id="diagnosisError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="visitId">Visit:</label>
                    <select id="visitId" class="form-control" name="visitsId" asp-for="CarePlansDetails.visitsId" data-bs-theme="auto" required>
                        <option value="-1">--Select--</option>
                        @foreach (var visit in ListService.GetPatientVisitsByMHN(mhn))
                        {
                            <option value="@visit.visitsId.ToString()">
                                @visit.date @visit.time
                            </option>
                        }
                    </select>
                    <span asp-validation-for="CarePlansDetails.visitsId" id="visitsIdError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CarePlansDetails.active">Active?</label>
                    <div class="col-sm-6 ms-4">
                        <input name="active" type="radio" id="True" asp-for="CarePlansDetails.active" value="True" required />
                        <label for="True" style="font-weight: normal;">Yes</label><br />
                        <input name="active" type="radio" id="False" asp-for="CarePlansDetails.active" value="False" />
                        <label for="False" style="font-weight: normal;">No</label><br />
                    </div>
                    <span asp-validation-for="CarePlansDetails.active" id="activeError" class="validation-msg"></span>
                </div>

                <div class="mt-3 d-flex justify-content-center">
                    <a type="button" class="btn btn-secondary me-2" value="Cancel" asp-controller="Patient" asp-action="PatientCarePlan" asp-route-mhn="@mhn">Cancel</a>
                    <input type="submit" class="btn blue-button" data-bs-theme="auto" />
                </div>
            </form>
        </div>
    }
    else
    {
        //This makes the page redirect to the previous page.
        <script>
            window.history.back();
        </script>

        //This is a fail safe if the javascript is turned off it will still show an error.
        <div class="card-body" data-bs-theme="auto">
            Admin permission required.<br />
            <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
            <a type="button" class="btn blue-button" asp-area="" asp-controller="Login_Register" asp-action="Login">Login</a>
        </div>
    }
</section>