@using EHRApplication.ViewModels
@inject EHRApplication.Services.IListService ListService
@model PortalViewModel
@{
    ViewData["Title"] = "myEHR | Edit Patient Insurance";
    <link rel="stylesheet" href="~/css/forms.css">

    <script src="~/js/validation.js"></script>

    var insurance = Model.PatientInsurance;
    int mhn = ViewBag.MHN;
}
<section class="my-5 w-75" data-bs-theme="auto">
    @if (User.IsInRole("Admin"))
    {        
        <div class="card-header" data-bs-theme="auto">
            <h3 class="my-3">Edit Patient Insurance</h3>
        </div>

        <div class="card-body" data-bs-theme="auto">
            <form method="post" id="patientForm">

                <input value="@mhn" asp-for="@insurance.MHN" hidden />
                <input value="@insurance.patientInsuranceId" asp-for="@insurance.patientInsuranceId" hidden />

                <div class="form-group">
                    <label for="providerName">Insurance Provider:</label>
                    <input asp-for="@insurance.providerName" type="text" id="providerName" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('providerName', 100, 'provider name')" required />
                    <span asp-validation-for="@insurance.providerName" id="providerNameError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="memberId">Member ID:</label>
                    <input asp-for="@insurance.memberId" type="text" id="memberId" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInputAlphaNumeric('memberId', 25, 'member ID')" required />
                    <span asp-validation-for="@insurance.memberId" id="memberIdError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="policyNumber">Policy Number:</label>
                    <input asp-for="@insurance.policyNumber" type="text" id="policyNumber" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInputAlphaNumeric('policyNumber', 25, 'policy number')" required />
                    <span asp-validation-for="@insurance.policyNumber" id="policyNumberError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="groupNumber">Group Number (if applicable):</label>
                    <input asp-for="@insurance.groupNumber" type="text" id="groupNumber" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInputAlphaNumeric('groupNumber', 100, 'group number')" />
                    <span asp-validation-for="@insurance.groupNumber" id="groupNumberError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@insurance.priority">Priority:</label>
                    <input asp-for="@insurance.priority" id="priority" type="text" class="form-control" data-bs-theme="auto" maxlength="10" onblur="validateRequiredTextInputAlphaNumeric('priority', 10, 'priority')" required />
                    <span asp-validation-for="@insurance.priority" id="priorityError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@insurance.primaryPhysician">Primary Physician:</label>
                    <select id="primaryPhysician" class="form-control" asp-for="@insurance.primaryPhysician" data-bs-theme="auto" required>
                        <option value="-1">--Select--</option>
                        @foreach (var provider in ListService.GetProviders())
                        {
                            <option value="@provider.providerId.ToString()">
                                @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                            </option>
                        }
                    </select>
                    <span asp-validation-for="@insurance.primaryPhysician" id="PrimaryPhysicianError" class="validation-msg"></span>
                </div>
                        
                <div class="form-group">
                    <label asp-for="@insurance.active">Active?</label>
                    <div class="col-sm-6 ms-4">
                        <input name="insurance.active" type="radio" id="True" asp-for="@insurance.active" value="True" required />
                        <label for="True" style="font-weight: normal;">Yes</label><br />
                        <input name="insurance.active" type="radio" id="False" asp-for="@insurance.active" value="False" />
                        <label for="False" style="font-weight: normal;">No</label><br />
                    </div>
                    <span asp-validation-for="@insurance.active" id="activeError" class="validation-msg"></span>
                </div>


                <div class="mt-3 d-flex justify-content-center">
                    <a type="button" class="btn btn-secondary me-2" value="Cancel" asp-controller="Patient" asp-action="PatientInsurance" asp-route-mhn="@mhn" >Cancel</a>
                    <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
                </div>

                <!-- confirmation modal-->
                <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                                <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to save the insurance information?
                            </div>
                            <div class="modal-footer">
                                <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        //This makes the page redirect to the previous page.
        <script>
            window.history.back();
        </script>

        //This is a fail safe if the javascript is turned off it will still show an error.
        <div class="card-body" data-bs-theme="auto">
            Admin permission required.<br />
            <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
            <a type="button" class="btn blue-button" asp-area="" asp-controller="Login_Register" asp-action="Login">Login</a>
        </div>
    }
</section>