@{
    ViewData["Title"] = "myEHR | Vitals Records";
    // The list of Visits being pulled in.
//@model List<Vitals>

@model EHRApplication.ViewModels.PortalViewModel;
    var patient = Model.PatientDemographic;
}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">Vitals</div>
            <div>
                <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Patient" asp-action="CreateVitalsForm" asp-route-mhn="@patient.MHN">
                    <i class="fa-solid fa-plus me-2"></i>
                    <span>Add</span>
                </a>
            </div>
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (patient != null && Model.Vitals.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Temperature:</th>
                            <th scope="col">Pulse:</th>
                            <th scope="col">Respiratory Rate:</th>
                            <th scope="col">Blood Pressure:</th>
                            <th scope="col">Pulse Oximetry:</th>
                            <th scope="col">Pain Level:</th>
                            <th scope="col">Height:</th>
                            <th scope="col">Weight:</th>
                            <th scope="col">BMI:</th>
                            <th scope="col">Intake:</th>
                            <th scope="col">Output:</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vital in Model.Vitals)
                        {
                            <tr class="hover-highlighting">
                                <td>@vital.visits.date.ToString("MM-dd-yyyy") @vital.visits.time.ToString("HH:mm")</td>
                                <td>@vital.temperature.ToString("F1") °F</td>
                                <td>@vital.pulse</td>
                                <td>@vital.respiratoryRate</td>
                                <td>@vital.bloodPressure</td>
                                <td>@vital.pulseOximetry%</td>
                                <td>@vital.painLevel</td>
                                <td>@vital.heightInches.ToString("F1") in</td>
                                <td>@vital.weightPounds.ToString("F1") lb</td>
                                <td>@vital.BMI.ToString("F2")</td>
                                <td>@vital.intakeMilliLiters mL</td>
                                <td>@vital.outputMilliLiters mL</td>
                                <td><a type="button" class="btn blue-button text-nowrap" asp-controller="Patient" asp-action="EditVitalsForm" asp-route-vitalsId="@vital.vitalsId"><i class="fa-solid fa-pen me-2"></i>Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No vitals records found.</h1>
            }
        </div>
    </div>
</section>
