@{
    // The list of Notes being pulled in.
    @model EHRApplication.ViewModels.PortalViewModel
    var mhn = ViewBag.MHN;
}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header text-center" data-bs-theme="auto">
            Patient Notes
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model != null && Model.PatientNotes != null && Model.PatientNotes.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Occurred On:</th>
                            <th scope="col">Created On:</th>
                            <th scope="col">Created By:</th>
                            <th scope="col">Assosciated Provider:</th>
                            <th scope="col">Category:</th>
                            <th scope="col">Note:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var note in Model.PatientNotes)
                        {
                            <tr class="hover-highlighting">
@*                                 <td>@note.occurredOn.ToString("MM-dd-yyyy")</td>
 *@                                <td>@note.createdAt.ToString("MM-dd-YYY HH:mm")</td>
@*                                 <td>@note.providers.firstName @visits.providers.lastName</td>
 *@                                
                                <td></td>
                                <td>@note.category</td>
                                <td>@note.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No visits found for this patient.</h1>
            }
        </div>
    </div>
</section>
