@model PatientDemographic

@{
    ViewData["Title"] = "Patient Details";
    <link rel="stylesheet" href="~/css/overview.css" asp-append-version="true" />
}

<div class="container mt-5" data-bs-theme="auto">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="h4 card-header" data-bs-theme="auto">
                    Demographic Info
                </div>
                <div class="card-body" data-bs-theme="auto">
                    <p><span class="h6">Patient ID:</span> @Model.MHN</p>
                    <p><span class="h6">First Name:</span> @Model.firstName</p>
                    <p><span class="h6">Last Name:</span> @Model.lastName</p>
                    <p><span class="h6">Suffix:</span> @Model.suffix</p>
                    <p><span class="h6">Preferred Pronouns:</span> @Model.preferredPronouns</p>
                    <p><span class="h6">Date of Birth:</span> @Model.DOB.ToString("yyyy-MM-dd")</p>
                    <p><span class="h6">Gender:</span> @Model.gender</p>
                    <p><span class="h6">Preferred Language:</span> @Model.preferredLanguage</p>
                    <p><span class="h6">Ethnicity:</span> @Model.ethnicity</p>
                    <p><span class="h6">Race:</span> @Model.race</p>
                    <p><span class="h6">Religion:</span> @Model.religion</p>
                    <p><span class="h6">Primary Physician:</span> @Model.providers.firstName @Model.providers.lastName, @Model.providers.specialty</p>
                    <p><span class="h6">Legal Guardian1:</span> @Model.legalGuardian1</p>
                    <p><span class="h6">Legal Guardian2:</span> @Model.legalGuardian2</p>
                    <p><span class="h6">Previous Name:</span> @Model.previousName</p>
                    <p><span class="h6">Gender Assigned At Birth:</span> @Model.genderAssignedAtBirth</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <!--Make height 422px-->
                    <div class="card card-cover">
                        <img src="~/images/blank-profile-picture.png" class="card-img-top" alt="Patient Image">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="h4 card-header" data-bs-theme="auto">
                            Contact Info
                        </div>
                        <div class="card-body" data-bs-theme="auto">
                            <p><span class="h6">Address:</span> @Model.ContactId.address</p>
                            <p><span class="h6">City:</span> @Model.ContactId.city</p>
                            <p><span class="h6">State:</span> @Model.ContactId.state</p>
                            <p><span class="h6">Zip Code:</span> @Model.ContactId.zipcode</p>
                            <p><span class="h6">Phone Number:</span> @Model.ContactId.zipcode</p>
                            <p><span class="h6">Email:</span> @Model.ContactId.email</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
