@{
    ViewData["Title"] = "myEHR | Patient Notes";
    // The list of Notes being pulled in.
    @model EHRApplication.ViewModels.PortalViewModel
    var mhn = ViewBag.MHN;

    <link rel="stylesheet" href="~/css/notes.css" asp-append-version="true" />
    <script src="~/js/notes.js" defer></script>
}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">Patient Notes</div>
            <div>
                <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Patient" asp-action="CreatePatientNotesForm" asp-route-mhn="@mhn">
                    <i class="fa-solid fa-plus me-2"></i>
                    <span>Add</span>
                </a>
            </div>
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model != null && Model.PatientNotes != null && Model.PatientNotes.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Occurred On:</th>
                            <th scope="col">Created At:</th>
                            <th scope="col">Created By:</th>
                            <th scope="col">Provider:</th>
                            <th scope="col">Category:</th>
                            <th scope="col">Note:</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var note in Model.PatientNotes)
                        {
                            var popupId = $"requirementsPopup-{Guid.NewGuid()}"; // Generate a unique ID for each popup

                            <tr id="row-@note.patientNotesId" class="hover-highlighting">
                                <td>@note.occurredOn.ToString("MM-dd-yyyy")</td>
                                <td>@note.createdAt.ToString("MM-dd-yyyy HH:mm")</td>
                                <td>@note.providers.firstName @note.providers.lastName, @note.providers.providerId</td>
                                <td>@note.assocProvider.firstName @note.assocProvider.lastName, @note.assocProvider.providerId</td>
                                <td>@note.category</td>
                                 <td>
                                    @*This will only display the first 20 characters in the saved data in the model*@
                                    @if(note.Note.Length <= 15)
                                    {
                                        @note.Note
                                    }
                                    else
                                    {
                                        @note.Note.Substring(0, 15)
                                        <div class="question-wrapper" onmouseover="showRequirements(@popupId)" onmouseout="hideRequirements(@popupId)">
                                            <div data-bs-theme="auto">
                                                ...
                                            </div>
                                            <div class="requirements-popup" data-bs-theme="auto" id="@popupId">
                                                <ul>
                                                    @note.Note
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td><a type="button" class="btn blue-button" asp-controller="Patient" asp-action="EditPatientNotesForm" asp-route-noteId="@note.patientNotesId"><i class="fa-solid fa-pen me-2"></i>Edit</a></td>

                                <td>
                                    <button type="submit" class="btn delete-button text-nowrap" data-message="@note.assocProvider.firstName @note.assocProvider.lastName on @note.createdAt.ToString("MM-dd-yyyy HH:mm")" data-noteId="@note.patientNotesId">
                                        <i class="fa-solid fa-trash me-2"></i>Delete
                                    </button>
                                </td>

                            
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No notes found.</h1>
            }
        </div>
    </div>
</section>


<!-- Delete confirmation modal-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the care plan created by <span id="messagePlaceholder"></span>?
            </div>
            <div class="modal-footer">
                <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>