@{
    ViewData["Title"] = "myEHR | Care Plans";
    // The list of patients being pulled in.
    @model EHRApplication.ViewModels.PortalViewModel
    var mhn = ViewBag.MHN;

}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100">Patient Care Plans</div>
            <div>
                <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Patient" asp-action="CreatePatientCarePlanForm" asp-route-mhn="@mhn">
                    <i class="fa-solid fa-plus me-2"></i>
                    <span>Add</span>
                </a>
            </div>
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model.CarePlans.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Priority:</th>
                            <th scope="col">Status:</th>
                            <th scope="col">Title:</th>
                            <th scope="col">Diagnosis:</th>
                            <th scope="col">Start Date:</th>
                            <th scope="col">End Date:</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var plan in Model.CarePlans)
                        {
                            <tr class="hover-highlighting">
                                @* shows a yellow background if the priority for that plan is high otherwise it will be a gray background. *@
                                <td style='background-color: @(plan.priority == "High" ? "yellow" : "unset"); color: @(plan.priority == "High" ? "black" : "inherit")'>
                                    @if (plan.priority == "High")
                                    {
                                        <span>
                                            <i class='fa-solid fa-triangle-exclamation me-1'></i>
                                        </span>
                                    }
                                    @plan.priority
                                </td>

                                <td>@(plan.active ? "Active" : "Inactive")</td>
                                <td>@plan.title</td>
                                <td>@plan.diagnosis</td>
                                <td>@plan.startDate.ToString("MM/dd/yyyy")</td>
                                <td>@plan.endDate.ToString("MM/dd/yyyy")</td>
                                <td><a type="button" class="btn blue-button text-nowrap" asp-controller="Patient" asp-action="EditPatientCarePlanForm" asp-route-carePlanId="@plan.CPId"><i class="fa-solid fa-pen me-2"></i>Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No care plans found for this patient.</h1>
            }
        </div>
    </div>
</section>
