@inject EHRApplication.Services.IListService ListService
    @model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Create New Visit";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Create Visit</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="visitForm" enctype="multipart/form-data">

            <input asp-for="Visit.MHN" value="@mhn" hidden />

            <div class="form-group">
                <label for="providerId">Provider:</label>
                <select id="providerId" class="form-control" asp-for="Visit.providerId" data-bs-theme="auto" onblur="validateRequiredInput('PrimaryPhysician', 'provider')">
                    <option value="0"></option>
                    @foreach (var provider in ListService.GetProviders())
                    {
                        <option value="@provider.providerId.ToString()">
                            @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                        </option>
                    }
                </select>
                <span asp-validation-for="Visit.providerId" id="PrimaryPhysicianError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="notes">Notes:</label>
                <input type="text" id="notes" asp-for="Visit.notes" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('notes', 'note')" />
                <span asp-validation-for="Visit.notes" id="notesError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label asp-for="Visit.date">Date of Visit:</label>
                <input asp-for="Visit.date" type="date" id="date" class="form-control" onblur="validateDatePicker('date', 'date of visit')" data-bs-theme="auto" required />
                <span asp-validation-for="Visit.date" id="dateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label asp-for="Visit.time">Time of Visit:</label>
                <input asp-for="Visit.time" type="time" id="time" class="form-control" data-bs-theme="auto" required />
                <span asp-validation-for="Visit.time" id="timeError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Visit.admitted">Was the patient admitted or not?</label>
                <div class="col-sm-6 ms-4">
                    <div class="race-column">
                        <input type="radio" id="Yes" asp-for="Visit.admitted" value="True" />
                        <label for="Yes" style="font-weight: normal;">Yes</label><br />
                        <input type="radio" id="No" asp-for="Visit.admitted" value="False" />
                        <label for="No" style="font-weight: normal;">No</label><br />
                    </div>
                </div>
                <span asp-validation-for="Visit.admitted" id="admittedError" class="validation-msg"></span>
            </div>

            <div class="mt-3 d-flex justify-content-center">
                <input type="submit" class="btn blue-button" data-bs-theme="auto" />
            </div>
        </form>
    </div>
</section>