@inject EHRApplication.Services.IListService ListService
    @model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Edit Visit";
    <link rel="stylesheet" href="~/css/forms.css">

    <script src="~/js/validation.js"></script>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <!--This is coded here to only display if you are logged in as an Admin-->
    @if (User.IsInRole("Admin"))
    {
        <div class="card-header" data-bs-theme="auto">
            <h3 class="my-3">Edit Visit</h3>
        </div>

        <div class="card-body" data-bs-theme="auto">
            <form method="post" id="visitForm" enctype="multipart/form-data">

                <!--These are here and hidden so so that when the form is submitted it will take the data that was used to populate
                    the form and re use that. none of this data is allowed to be changed by the user.
                -->
                <input asp-for="Visit.MHN" hidden/>
                <input asp-for="Visit.visitsId" hidden/>

                <div class="form-group">
                    <label for="providerId">Provider:</label>
                    <select id="providerId" class="form-control" asp-for="Visit.providerId" data-bs-theme="auto" onblur="validateRequiredInput('PrimaryPhysician', 'provider')">
                        <option value="0"></option>
                        @foreach (var provider in ListService.GetProviders())
                        {
                            <option value="@provider.providerId.ToString()">
                                @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                            </option>
                        }
                    </select>
                    <span asp-validation-for="Visit.providerId" id="PrimaryPhysicianError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <input type="text" id="notes" asp-for="Visit.notes" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('notes', 'note')" />
                    <span asp-validation-for="Visit.notes" id="notesError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visit.date">Date of Visit:</label>
                    <input asp-for="Visit.date" type="date" id="date" class="form-control" onblur="validateDatePicker('date', 'date of visit')" data-bs-theme="auto" required />
                    <span asp-validation-for="Visit.date" id="dateError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visit.time">Time of Visit:</label>
                    <input asp-for="Visit.time" type="time" id="time" class="form-control" data-bs-theme="auto" required />
                    <span asp-validation-for="Visit.time" id="timeError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="Visit.admitted">Was the patient admitted or not?</label>
                    <div class="col-sm-6 ms-4">
                        <div class="race-column">
                            <input type="radio" id="Yes" asp-for="Visit.admitted" value="True" />
                            <label for="Yes" style="font-weight: normal;">Yes</label><br />
                            <input type="radio" id="No" asp-for="Visit.admitted" value="False" />
                            <label for="No" style="font-weight: normal;">No</label><br />
                        </div>
                    </div>
                    <span asp-validation-for="Visit.admitted" id="admittedError" class="validation-msg"></span>
                </div>

                <!-- Submit Button -->
                <div class="mt-3 d-flex justify-content-center">
                    <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
                    <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
                </div>

                <!-- confirmation modal-->
                <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                                <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to save the visit information?
                            </div>
                            <div class="modal-footer">
                                <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        //This makes the page redirect to the previous page.
        <script>
            window.history.back();
        </script>

        //This is a fail safe if the javascript is turned off it will still show an error.
        <div class="card-body" data-bs-theme="auto">
            Admin permission required.<br />
            <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
            <a type="button" class="btn blue-button" asp-area="" asp-controller="Login_Register" asp-action="Login">Login</a>
        </div>
    }
</section>