@inject EHRApplication.Services.IListService ListService
    @model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Update Lab Result";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Update Lab Result</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="labOrderForm" enctype="multipart/form-data">

            <input name="MHN" asp-for="LabResultsDetails.MHN" hidden />
            <input asp-for="LabResultsDetails.labId" hidden />

            <div class="form-group">
                <label for="testId">Test Name:</label>
                <select id="testId" name="testId" class="form-control" asp-for="LabResultsDetails.testId" data-bs-theme="auto" onblur="validateRequiredInput('testId', 'test name')">
                    <option value="0"></option>
                    @foreach (var labTests in ListService.GetLabTests())
                    {
                        <option value="@labTests.testId">
                            @labTests.testName
                        </option>
                    }
                </select>
                <span asp-validation-for="LabResultsDetails.testId" id="testIdError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="resultValue">Result Value:</label>
                <input name="resultValue" asp-for="LabResultsDetails.resultValue" type="text" id="resultValue" class="form-control" data-bs-theme="auto" onblur="validateRequiredNumberInput('resultValue', 10, 'result value')" />
                <span asp-validation-for="LabResultsDetails.resultValue" id="resultValueError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="abnormalFlag">Abnormal Flag:</label>
                <select class="form-control" name="abnormalFlag" asp-for="LabResultsDetails.abnormalFlag" data-bs-theme="auto">
                    <option value="0"></option>
                    <option value="Low">Low</option>
                    <option value="Normal">Normal</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="LabResultsDetails.abnormalFlag" id="abnormalFlagError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="visitsId">Visit:</label>
                <select class="form-control" name="visitsId" asp-for="LabResultsDetails.visitsId" data-bs-theme="auto">
                    <option value="0"></option>
                    @foreach (var visit in ListService.GetPatientVisitsByMHN(mhn))
                    {
                        <option value="@visit.visitsId">
                            @visit.date @visit.time
                        </option>
                    }
                </select>
                <span asp-validation-for="LabResultsDetails.visitsId" id="visitError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="date">Date of Order:</label>
                <input name="date" asp-for="LabResultsDetails.date" type="date" id="date" class="form-control" data-bs-theme="auto" required />
                <span asp-validation-for="LabResultsDetails.date" id="dateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="time">Time of Order:</label>
                <input name="time" asp-for="LabResultsDetails.time" type="time" id="time" class="form-control" data-bs-theme="auto" required />
                <span asp-validation-for="LabResultsDetails.time" id="timeError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="orderedBy">Provider:</label>
                <select id="orderedBy" class="form-control" name="orderedBy" asp-for="LabResultsDetails.orderedBy" data-bs-theme="auto" onblur="validateRequiredInput('orderedBy', 'provider')">
                    <option value="0"></option>
                    @foreach (var provider in ListService.GetProviders())
                    {
                        <option value="@provider.providerId">
                            @provider.firstName @provider.lastName, @provider.specialty @provider.providerId
                        </option>
                    }
                </select>
                <span asp-validation-for="LabResultsDetails.orderedBy" id="PrimaryPhysicianError" class="validation-msg"></span>
            </div>

            <!-- Submit Button -->
            <div class="mt-3 d-flex justify-content-center">
                <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
                <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
            </div>

            <!-- confirmation modal-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save the Lab Result information?
                        </div>
                        <div class="modal-footer">
                            <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>