@{
    // The list of Visits being pulled in.
    @model EHRApplication.ViewModels.PortalViewModel
    var mhn = ViewBag.MHN;
    <link rel="stylesheet" href="~/css/.css" asp-append-version="true" />
}


<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header text-center" data-bs-theme="auto">
            Patient Lab Orders
        </div>
        <div class="card-body overflow-auto" data-bs-theme="auto">
            @if (Model != null && Model.LabOrders != null && Model.LabOrders.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order Date:</th>
                            <th scope="col">Order Time:</th>
                            <th scope="col">Test:</th>
                            <th scope="col">Status:</th>
                            <th scope="col">Ordered By:</th>
                            @* <th scope="col"></th>  *@<!-- Empty column for the button -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var labOrders in Model.LabOrders)
                        {
                            <tr class="hover-highlighting">
                                <td>@labOrders.orderDate.ToString("MM-dd-yyyy")</td>
                                <td>@labOrders.orderTime.ToString("HH:mm")</td>
                                <td>@labOrders.labTests.testName</td>
                                <td>@labOrders.completionStatus</td>
                                <td>@labOrders.providers.firstName @labOrders.providers.lastName</td>
                                <!--The following will be the button that links to the single visits view once that page is complete.-->
@*                                 <td><a type="button" class="btn blue-button" asp-controller="Patient" asp-action="PatientOverView" asp-route-mhn="@patient.MHN">View</a></td>
 *@                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No Lab orders found.</h1>
            }
        </div>
    </div>
</section>
