@{
    ViewData["Title"] = "myEHR | All Allergies";
    @model List<Allergies>
    <script src="~/js/allAllergies.js" defer></script>
}

<section class="my-5 w-75 m-auto">
    <div class="card mb-3 shadow-sm" data-bs-theme="auto">
        <div class="h4 card-header d-flex justify-content-between align-items-center" data-bs-theme="auto">
            <div class="text-center w-100" data-bs-theme="auto">
                All Allergies
            </div>
            <div>
                <a type="button" class="btn blue-button d-flex align-items-center" asp-controller="Allergy" asp-action="CreateAllergy">
                    <i class="fa-solid fa-plus me-2"></i>
                    <span>Add</span>
                </a>
            </div>
        </div>
        <div class="card-body" data-bs-theme="auto">
            @if (Model.Any()){
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Allergy Id:</th>
                            <th scope="col">Allergy Name:</th>
                            <th scope="col">Allergy Type:</th>
                            <th scope="col">Active Status:</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var allergy in Model)
                        {
                            <tr class="hover-highlighting"><!-- Class needed for highlighting rows for ease of use. Defined in site.css -->
                                <td>@allergy.allergyId</td>
                                <td>@allergy.allergyName</td>
                                <td>@allergy.allergyType</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input active-status-checkbox" type="checkbox" id="switch@allergy.allergyId" data-allergyId="@allergy.allergyId" @(allergy.activeStatus ? "checked" : "")>
                                        <label class="form-check-label" for="switch@allergy.allergyId">@(allergy.activeStatus ? "Yes" : "No")</label>
                                    </div>
                                </td>
                                <td>
                                    <!--I am unsure why there has to be a form on the page in order to make the form-switch to work oh maybe because its is form switch?? ask jordan i just reused his code.-->
                                    <form method="post">
                                        <a type="button" class="btn blue-button text-nowrap" asp-controller="Allergy" asp-action="EditAllergy" asp-route-allergyId="@allergy.allergyId"><i class="fa-solid fa-pen me-2"></i>Edit</a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-center display-6">No allergies found.</h1>
            }
        </div>
    </div>
</section>