@model EHRApplication.ViewModels.PortalViewModel
@{
    ViewData["Title"] = "myEHR | Edit Patient Contact Form";
    <link rel="stylesheet" href="~/css/forms.css">

    var contact = Model.PatientContact;

    <script src="~/js/validation.js"></script>
    <script src="~/js/confirmModal.js" defer></script>
    int mhn = ViewBag.MHN;
}

<section class="my-5 w-75" data-bs-theme="auto">
    
    <!--This is coded here to only display if you are logged in as an Admin-->
    @if (User.IsInRole("Admin"))
    {
        <div class="card-header" data-bs-theme="auto">
            <h3 class="my-3">Edit Patient Contact</h3>
        </div>

        <div class="card-body" data-bs-theme="auto">
            <form method="post" id="patientForm">

                <input asp-for="@contact.patientContactId" hidden/>

                <input asp-for="@contact.MHN" hidden />

                <div class="form-group">
                    <label for="Address">Address:</label>
                    <input asp-for="@contact.address" type="text" id="Address" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('Address', 'address')" />
                    <span asp-validation-for="PatientDemographic.ContactId.address" id="AddressError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="City">City:</label>
                    <input asp-for="@contact.city" type="text" id="City" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('City', 25, 'city')" />
                    <span asp-validation-for="@contact.city" id="CityError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="State">State:</label>
                    <select asp-for="@contact.state" class="form-control">
                        <option value="-1">-- Select State --</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <span asp-validation-for="@contact.state" id="StateError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="Zipcode">Zipcode:</label>
                    <input asp-for="@contact.zipcode" id="Zipcode" class="form-control" data-bs-theme="auto" onblur="validateRequiredNumberInput('Zipcode', 6,  'zipcode')" />
                    <span asp-validation-for="@contact.zipcode" id="ZipcodeError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@contact.phone">Phone Number:</label>
                    <input asp-for="@contact.phone" id="Phone" class="form-control" data-bs-theme="auto" maxlength="10" onblur="validateRequiredNumberInput('Phone', 10, 'phone number')" />
                    <span asp-validation-for="@contact.phone" id="PhoneError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="Email">Email (Optional):</label>
                    <input asp-for="@contact.email" type="text" id="Email" class="form-control" data-bs-theme="auto" onblur="validateOptionalEmailInput('Email', 'email')" />
                    <span asp-validation-for="@contact.email" id="EmailError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="ECFirstname">Emergency Contact First Name (Optional):</label>
                    <input asp-for="@contact.ECFirstName" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECFirstName', 100, 'emergency contact first name')" />
                    <span asp-validation-for="@contact.ECFirstName" id="ECFirstNameError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="ECLastname">Emergency Contact Last Name (Optional):</label>
                    <input asp-for="@contact.ECLastName" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECLastName', 100, 'emergency contact last name')" />
                    <span asp-validation-for="@contact.ECLastName" id="ECLastNameError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="ECRelationship">Emergency Contact Relationship (Optional):</label>
                    <input asp-for="@contact.ECRelationship" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECRelationship', 100, 'emergency contact Relationship')" />
                    <span asp-validation-for="@contact.ECRelationship" id="ECRelationshipError" class="validation-msg"></span>
                </div>

                <div class="form-group">
                    <label for="ECPhone">Emergency Contact Phone (Optional):</label>
                    <input asp-for="@contact.ECPhone" type="tel" id="ECPhone" class="form-control" data-bs-theme="auto" maxlength="10" onblur="validateOptionalNumberInput('ECPhone', 10, 'emergency contact phone')" />
                    <span asp-validation-for="@contact.ECPhone" id="ECPhoneError" class="validation-msg"></span>
                </div>

                <div class="mt-3 d-flex justify-content-center">
                    <a type="button" class="btn btn-secondary me-2" onclick="window.history.back()">Cancel</a>
                    <input type="button" class="btn blue-button" data-bs-theme="auto" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
                </div>

            <!-- confirmation modal-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save this contact information?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary me-2" value="Cancel" asp-controller="Patient" asp-action="PatientOverview" asp-route-mhn="@mhn">Cancel</a>
                            <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    }
    else
    {
        //This makes the page redirect to the previous page.
        <script>
            window.history.back();
        </script>

        //This is a fail safe if the javascript is turned off it will still show an error.
        <div class="card-body" data-bs-theme="auto">
            Admin permission required.<br />
            <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
            <a type="button" class="btn blue-button" asp-area="" asp-controller="Login_Register" asp-action="Login">Login</a>
        </div>
    }

</section>