@inject EHRApplication.Services.IListService ListService
@model PatientContact
@{
    ViewData["Title"] = "myEHR | Patient Contact Form";
    <link rel="stylesheet" href="~/css/forms.css">

    <script src="~/js/validation.js"></script>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Create Patient Contact</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="patientForm">

            <div class="form-group">
                <label for="MHN">Patient:</label>
                @* This will check to see if there are any patients in the database without a patient contact *@
                @if (!ListService.GetPatients().Any(p => !ListService.GetContacts().Any(pc => pc.MHN == p.MHN)))
                {
                    <input type="text" class="form-control" value="No patients found" readonly />
                }
                else
                {
                    <select data-bs-auto="auto" id="MHN" class="form-control" name="MHN" asp-for="MHN">
                        <option value="0"></option>
                        @foreach (var patient in ListService.GetPatients())
                        {
                            // Check if the current patient's MHN is not in the patient contact table
                            // This will make it so that only patients without their contact info in the table show up
                            if (!ListService.GetContacts().Any(pc => pc.MHN == patient.MHN))
                            {
                                <option value="@patient.MHN.ToString()">
                                    @patient.MHN @patient.firstName @patient.lastName, @patient.DOB
                                </option>
                            }
                        }
                    </select>
                }
                <span asp-validation-for="MHN" id="PatientError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Address">Address:</label>
                <input asp-for="address" type="text" id="Address" class="form-control" data-bs-theme="auto" onblur="validateRequiredInput('Address', 'address')" />
                <span asp-validation-for="address" id="AddressError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="City">City:</label>
                <input asp-for="city" type="text" id="City" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('City', 25, 'city')" />
                <span asp-validation-for="city" id="CityError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="State">State:</label>
                <select asp-for="state" class="form-control" name="State">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <span asp-validation-for="state" id="StateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Zipcode">Zipcode:</label>
                <input asp-for="zipcode" id="Zipcode" class="form-control" data-bs-theme="auto" onblur="validateRequiredNumberInput('Zipcode', 6,  'zipcode')" />
                <span asp-validation-for="zipcode" id="ZipcodeError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label asp-for="phone">Phone Number:</label>
                <input asp-for="phone" id="Phone" class="form-control" data-bs-theme="auto" onblur="validateRequiredNumberInput('Phone', 10, 'phone number')" />
                <span asp-validation-for="phone" id="PhoneError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Email">Email (Optional):</label>
                <input asp-for="email" type="text" id="Email" class="form-control" data-bs-theme="auto" onblur="validateOptionalEmailInput('Email', 'email')"/>
                <span asp-validation-for="email" id="EmailError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECFirstname">Emergency Contact First Name (Optional):</label>
                <input asp-for="ECFirstName" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECFirstName', 100, 'EC first name')" />
                <span asp-validation-for="ECFirstName" id="ECFirstNameError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECLastname">Emergency Contact Last Name (Optional):</label>
                <input asp-for="ECLastName" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECLastName', 100, 'EC last name')" />
                <span asp-validation-for="ECLastName" id="ECLastNameError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECRelationship">Emergency Contact Relationship (Optional):</label>
                <input asp-for="ECRelationship" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECRelationship', 100,  'EC Relationship')" />
                <span asp-validation-for="ECRelationship" id="ECRelationshipError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECPhone">Emergency Contact Phone (Optional):</label>
                <input asp-for="ECPhone" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalNumberInput('ECPhone', 25,  'EC phone')" />
                <span asp-validation-for="ECPhone" id="ECPhoneError" class="validation-msg"></span>
            </div>

            <div class="mt-3 d-flex justify-content-center">
                <input type="submit" class="btn blue-button" data-bs-theme="auto" />
            </div>
        </form>
    </div>
</section>